.env

venv/
.venv/
venv311/
backend/venv311/

notes/

#ignore Python cache
__pycache__/

#ignore VSCode settings
.vscode/

#ignore build directories
dist/
build/

#ignore node modules
node_modules/

.DS_Store
Thumbs.db

*.log